body {
  margin: 0;
  background-color: whitesmoke;
  background-image: url("../images/criss-cross.png");
}

.banner{
  background-color: white;
  height: 96.19px;
}

.name {
  float: left;
  margin-left: 25%;
  padding: 10px;
  background-color: #4aaaa5;
  font-size: 15px;
  overflow: auto;
  color: white;
}

.navbar {
  list-style-type: none;
  float: right;
  margin-right: 15%;
  margin-top: 30px;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #777777;
}

.active {
  font-weight: 900;
}

li {
  display: inline-block;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  padding: 10px 15px;
}

.dividers {
  padding: 10px 0;
  color: #777777;
  opacity: 0.15;
}

hr {
  width: 960px;
}

#shadow {
  margin: 0;
  width: 100%;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding-top: 30px;
  width: 100%;
  background-color: #666666;
  color: white;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  text-align: center;
}
